.outbox{
  border: solid 1px;
  height: 550px;
  background-image: url(bg7.jpg);
  background-repeat: no-repeat;
  background-size: 1100px 500px;
}
#nav{
    border: solid 1px white;
    height: 50px;
line-height: 50px;
}
#in{
    color: white;
    font-size: 24px;
    padding-right: 25px;
    font-weight: bold;
}
.out{
    border: solid 1px white;
    height: 450px;
}
#resto{
    color:goldenrod;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    text-shadow: 3px 3px 5px white;
}
#menu{
    border: solid 1px;
    height: 200px;
}
                                                                                                                                                                                                                                                                                                                                                                                          text-decoration: none;