.obox{
    border: solid 1px;
    height: 600px;
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
background-size: 1100px 600px;
}
#resto{
    color: white;
    font-size: 80px;
    text-align: center;
    padding-top: 180px;
}
#register,#login{
    width: 170px;
    height: 20px;
    background-color:peachpuff;
}
#register{
    margin-left: 330px;
}
#register a,#login a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;

}
#register:hover{
    background-color: purple;
}
#login:hover{
    background-color: purple;
    
}